===== Response Fields
|===
|설명|경로|타입

{{#fields}}

|{{#tableCellContent}}{{description}}{{/tableCellContent}}
|{{#tableCellContent}}`+{{path}}+`{{/tableCellContent}}
|{{#tableCellContent}}`+{{type}}+`{{/tableCellContent}}

{{/fields}}

|===